
<div class="large-12 left height_dash ">
  <div class="dash_header">

<h1>Dashboard</h1>
</div>

<div class="section-container auto" data-section="" data-options="deep_linking: true;" data-section-resized="true" style="min-height: 50px;">
              <section class="active" style="padding-top: 49px;">
                <p class="title" data-section-title="" style="left: 0px; height: 50px;"><a href="#panel1">Section 1</a></p>
                <div class="content" data-slug="panel1" data-section-content="">
                  <p>Section 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </section>
              <section style="padding-top: 49px;" class="">
                <p class="title" data-section-title="" style="left: 86px; height: 50px;"><a href="#panel2">Section 2</a></p>
                <div class="content" data-slug="panel2" data-section-content="">
                  <div class="section-container auto" data-section="" data-options="deep_linking: true;" data-section-resized="true" style="min-height: 50px;">
                    <section data-section-region="" style="padding-top: 49px;" class="active">
                      <p class="title" data-section-title="" style="left: 0px; height: 50px;"><a href="#panel2nested1">Section 1</a></p>
                      <div class="content" data-slug="nested1" data-section-content="">
                        <p>Section 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      </div>
                    </section>
                    <section data-section-region="" style="padding-top: 49px;" class="">
                      <p class="title" data-section-title="" style="left: 86px; height: 50px;"><a href="#panel2nested2">Section 2</a></p>
                      <div class="content" data-slug="nested2" data-section-content="">
                        <p>Section 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      </div>
                    </section>
                    <div data-section-region="" class="section" style="padding-top: 49px;">
                      <p class="title" data-section-title="" style="left: 172px; height: 50px;"><a href="#panel2nested3">Section 3</a></p>
                      <div class="content" data-slug="nested3" data-section-content="">
                        <form>
                          <div class="row collapse">
                            <div class="large-2 columns">
                              <label class="inline">Your Name</label>
                            </div>
                            <div class="large-10 columns">
                              <input type="text" id="yourName" placeholder="Jane Smith">
                            </div>
                          </div>
                          <div class="row collapse">
                            <div class="large-2 columns">
                              <label class="inline"> Your Email</label>
                            </div>
                            <div class="large-10 columns">
                              <input type="text" id="yourEmail" placeholder="jane@smithco.com">
                            </div>
                          </div>
                          <label>What's up?</label>
                          <textarea rows="4"></textarea>
                          <button type="submit" class="radius button">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <div data-section-region="" class="section" style="padding-top: 49px;">
                <p class="title" data-section-title="" style="left: 172px; height: 50px;"><a href="#panel3">Section 3</a></p>
                <div class="content" data-slug="panel3" data-section-content="">
                  <form>
                    <div class="row collapse">
                      <div class="large-2 columns">
                        <label class="inline">Your Name</label>
                      </div>
                      <div class="large-10 columns">
                        <input type="text" id="yourName" placeholder="Jane Smith">
                      </div>
                    </div>
                    <div class="row collapse">
                      <div class="large-2 columns">
                        <label class="inline"> Your Email</label>
                      </div>
                      <div class="large-10 columns">
                        <input type="text" id="yourEmail" placeholder="jane@smithco.com">
                      </div>
                    </div>
                    <label>What's up?</label>
                    <textarea rows="4"></textarea>
                    <button type="submit" class="radius button">Submit</button>
                  </form>
                </div>
              </div>
            </div>

</div>