
<div class="slideshow">
  <div class="row">
  <div class="pbn">
  <%= image_tag "pbn.png" %>
</div>
</div>
</div>
<div class="large-12 columns">
<div class="docs header"> <h2>Latest Reviews</h2></div>
<div class="bloglist">
<% @pages.live.each do |p| %>

        <ul class="left large-4">
          <h4><a><%= link_to p.title, "/blog/"+p.slug %></a></h4><br />
          <%= truncate p.content_for(:body).html_safe, :length => 150 %>
        </ul>

<%end%>
</div>
