// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slideshow {
  padding-top: 45px;
  background-color: #023580;
  background-image: url('gradient.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

li {
  list-style: none;
}

.pbn {
  width: 450px;
  margin: 61px auto auto;
}
.slideshow img {
  margin: 35px auto auto;  
}

.bloglist .divider {
  border-bottom: none;
border-top: none;
border-right: solid 1px #2B2B2B;
border-left: solid 1px black;
clear: none;
height: 45px;
width: 0px;
}