<div class="social_links">
  <div class="social_links_head">
or Login  with social accounts
  </div>
  <div class="social_icons left">
    <%= link_to image_tag('fblogo.png', :width => "40px", :height => "40px"), user_omniauth_authorize_path(:facebook), :class => "left" %>
    <%= link_to image_tag('twitterlogo.png', :width => "40px", :height => "40px"), user_omniauth_authorize_path(:twitter), :class => "left" %>
    <%= link_to image_tag('googlelogo.png', :width => "44px", :height => "44px"), user_omniauth_authorize_path(:google_oauth2), :class => "left" %>
    
</div>

</div>