
  <div class="social_links_head">
 Login  with social accounts <br>
  </div>
  <div class="social_icons left">
    <%= link_to image_tag('fblogo.png'), user_omniauth_authorize_path(:facebook), :class => "left" %>
    <%= link_to image_tag('twitterlogo.png'), user_omniauth_authorize_path(:twitter), :class => "left" %>
    <%= link_to image_tag('googlelogo.png'), user_omniauth_authorize_path(:google_oauth2), :class => "left" %>
</div>

